[submodule "auth"]
	path = auth
	url = https://github.com/safe-distance/auth
[submodule "circle"]
	path = circle
	url = https://github.com/safe-distance/circle
[submodule "initialize"]
	path = initialize
	url = https://github.com/safe-distance/initialize
[submodule "proximity"]
	path = proximity
	url = https://github.com/safe-distance/proximity
